 /* XML {
	display:none;
}  */
body {
    font-family: "Nunito", sans-serif;
	margin: 0;
	text-align: left;
	color:#09020f;
    background-color: rgba(243, 190, 76, 0.712);
    padding-bottom: 50px;
}

.card-img-top {
    width: 96%;
    height: 4vw;
    object-fit: cover;
   object-position: bottom;
}

.selected {
            background-color: #dc3545!important;
            color: #FFF;
}
#bottomNav{
     background: url("/css/books1.jpg");
       background-size: cover;
		background-position: bottom;
        color: white;
}
.container{
    padding-top: 0;
    margin-top: 1%;
}
 .container-table {
  max-height: 300px;
  overflow: scroll;
  margin-left: 10%;
  margin-right: 10%;
}
table th{
    position: sticky;
}
#jumbotron {
          background: url("/css/books1.jpg");
          background-size: cover;
		background-position: right;
    color:white;
       padding: 0.5em 0.6em;
}

#jumbotron p{
    color:white;
    font-size: 150%;
    text-shadow: 2px 2px grey;
             

      }

h2 {
	text-align: center;
    font-family: "Nunito", sans-serif;
	font-weight: 202000;
	font-size: 2.5rem;
	text-transform: uppercase;
		margin-top: 10px;
          text-shadow: 2px 2px grey;
}

th{
      background:  rgb(240, 186, 8);
      font-family: "Nunito", sans-serif;
      color:white;
      text-transform: uppercase;
}
#category{
    
     background: rgb(240, 186, 8, 0.5); 
     color:#09020f;

}

table {
	background-color: rgb(253,253,150);
	border-color: #000000;
	border-width: thin;
	border-collapse: collapse;
	width: 75%;
    line-height:1px;
         
}
tr {


height:0.2px;               
}

.dropup {margin-top:120px;}

 table {
     /* border-collapse: collapse; */
     width:100%;
     position: relative;
}
 td, th {
     border: 1px solid #999;
     padding: 0.5rem;
     text-align: center;
}
 th {
     font-weight: bold;
}
.form-group  {
  display: inline;
}
img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	border: 0px;
}
.indent {
	position: relative;
 
}
