/* XML {
	display:none;
} */
body {
	background: rgb(253,253,150);
    font-family: "Nunito", sans-serif;
	margin: 0;
	text-align: left;
	color: green;
}
h2 {
	text-align: center;
    font-family: "Nunito", sans-serif;
	font-weight: 100;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: red;
	margin-top: 10px;
}
p {
	font-size: 80%;
	color: #523819;
}
table {
	background-color: rgb(253,253,150);
	border-color: #000000;
	border-width: thin;
	border-collapse: collapse;
	width: 75%;
}
th {
	border-color: #000000;
	font-size: 120%;
	color: red;
}
td {
	border-color: #000000;
	font-size: 100%;
	color: #523819;
	padding: 5px;
}
img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	border: 0px;
}
.indent {
	margin-left: 78px;
}