 <!-- Bottom navbar -->
  <nav class="navbar  py-0 fixed-bottom navbar-light" id="bottomNav" style="background-color: rgb(240, 186, 8)">  
   <a class="navbar-brand" href="#"><i class="fas fa-hourglass-end"></i> CALCULATE HOURS</a>
   <form class="form-inline" id="calcHours">
     <!-- <input type="text" class="form-control" aria-label="Total" name="txtHourPlanned">
     <input type="text" class="form-control" aria-label="Total" name="txtHourDone">
     <button class="btn btn-sm btn-outline-dark my-2 my-sm-0" type="submit" name="btnCalcHour" value="CalcHour" id="calcHour" placeholder="Planned" aria-label="Search">Calculate</button> -->
    </form>
  </nav>