 <!-- Bottom navbar -->
  <nav class="navbar  py-0 fixed-bottom navbar-light" id="bottomNav" style="background-color: rgb(240, 186, 8)">  
   <a class="navbar-brand" href="#"><i class="fas fa-book"></i></a>
  </nav>